{% extends 'blog/base.html' %}

{% block title %}
    Search Page
{% endblock %}

{% block content %}
    <h1>Search Page</h1>
    <form method="post" action="{% url 'blog:search' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>
    <h3>search result</h3>
    {% for result_item in search_result %}
        <h6>{{ result_item.title }}</h6>
        <p>{{ result_item.body|truncatewords:5 }}</p>
    {% empty %}
        {% if request.method == 'POST' %}
            Sorry, No result!
        {% endif %}
    {% endfor %}

{% endblock %}